$clock-diameter: 256px;
$ticks-diameter: 217px;
$clock-face-diameter: 222px;
$numerals-diameter: 183px;

@mixin aligncenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin rotate-ticks($step: 6deg, $items: 60) {
    @for $i from 1 through $items {
        &:nth-child(#{$i}) {
            transform: translateX(-50%) rotate($step * $i);
        }
    }
}
@mixin not-rotate-numbers($step, $items) {
    @for $i from 1 through $items {
        &:nth-child(#{$i}) {
            &:before {
                transform: rotate(-($step * $i));
            }
        }
    }
}
